// Fonts
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700;900&display=swap');

$font-family: "Red Hat Display", sans-serif;
$font-regular: 400;
$font-bold: 700;
$font-bolder: 900;

$text-font-size: 1rem;

// Colors
$background-color: hsl(225, 100%, 94%);
$box-background-color:hsl(230, 75%, 98%);
$button-color: hsl(245, 75%, 52%);
$card-background-color: hsl(0, 0%, 100%);
$heading-color: hsl(223, 47%, 23%);
$shadow-color: hsl(225, 81%, 90%);
$text-and-hover-color: hsl(224, 23%, 55%);
